{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
    <h1>All Posts</h1>
    <h2>Create Post</h2>
    <form action="/allposts" method="POST">
        Title: <input type="text" name="title" id="title">
        <br>
        Content: <textarea name="content" id="content"></textarea>
        <br>
        <input type="submit" value="Create Post">
    </form>
    <hr>
    {% for post in posts %}
            <h2>{{ post.title }}</h2>
            {% if post.author %}
                <p><strong>Author:</strong> {{ post.author }}</p>
            {% else %}    
                <p><strong>Unknown Author</strong> </p>
            {% endif %}
             <p>{{ post.content }}</p>
                <a href="/posts/delete/{{ post.id }}" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a>
                <a href="/posts/edit/{{ post.id }}">Edit</a>
             <hr>
    {% endfor %}
{% endblock %}